.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-primary) url("/public/backgrounds/aula_welcome.png");
    background-size: cover;
    height: 100vh;
}

.content .loginBox {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    min-width: 300px;
    width: 500px;
    border: 1px solid #2f2f2f;
    overflow: hidden;
}

.loginBox .header{
    display: flex;
    height: 48px;
    padding: 5px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid var(--color-primary-light);
    background-color: var(--color-primary);
    color: white;
    box-sizing: border-box;
}

.loginBox .header h3{
    margin: 0;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.loginBox .header .logo{
    width: 96px;
    height: 100%;
    display: flex;
}

.loginBox .header .logo img{
    width: 100%;
    object-fit: contain;
}

.loginBox .header .vSpacer{
    width: 2px;
    height: 100%;
    background-color: white;
    margin-left: 4px;
    margin-right:4px;
}

.loginBox .body{
    display: flex;
    flex-direction: column;
}

.loginBox .body h3{
    text-align: center;
    margin: 10px 0 0;
}

.body .field{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.field label{
    text-transform: uppercase;
    font-weight: bold;
}

.field label::after{
    content: '*';
    vertical-align: super;
    color: red;
}

.field input{
    padding: 10px;
    border-radius: 0 10px 10px 0;
    border-left: 6px solid var(--color-primary-light);
}

.loginBtn button{
    width: 90%;
    align-self: center;
    height: 32px;
    background-color: var(--color-primary);
    cursor: pointer;
    border: 3px solid transparent;
    border-radius:  10px;
    color: white;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    &:hover{
        background-color: var(--color-primary-light);
    }
    &:active{

        border-color: #2f2f2f;
    }
}