.main-container {
    display: flex;
    flex-direction: column;
}

/* BARRA DE NAVEGACION */

.main-container .main-navbar {
    display: flex;
    flex-direction: column;
    height: 64px;
    background-color: var(--color-primary);
    border-bottom: 10px solid var(--color-primary-light);
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    padding: 4px;
    gap: 4px;
    box-sizing: border-box;
}

.navbar-container .navbar-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.navbar-item button{
    height: auto;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
    color: whitesmoke;
    background-color: transparent;
    border: none;
    transition: all 0.2s ease-in-out;
    &:hover{
        color: gray;
    }
    &:active{
        color: white;
    }
}

.navbar-item .login{
    border-radius: 0;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-bottom: none;
    text-align: center;
    padding: 10px;
}

.burger-btn {
    display: none;
}

.navbar-burger{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 2rem;
    padding: 5px;
    cursor: pointer;
    color: white;
    transition: color 0.2s ease-in-out;
    &:active{
        color: gray;
    }
}

@media screen and (max-width: 768px) {

    .navbar-container {
        display: none;
        gap: 10px;
    }

    .navbar-item button {
        height: 100%;
        width: 100%;
        text-align: left;
        border-left: 4px solid var(--color-primary-light);
        border-bottom: 2px solid var(--color-primary-light);
    }

    .navbar-burger {
        display: flex;
    }

    .main-container .main-navbar {
        height: auto;
    }

    .burger-btn:checked ~ .navbar-container{
        display: flex;
        flex-direction: column;
    }
}

/* CONTENIDO */

.main-container .main-content{
    display: flex;
    flex-direction: column;
}

.main-content .main-header{
}

.main-content .main-body{
    display: flex;
    flex-direction: column;
}

/* cuerpo */

.main-body .body-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    gap: 10px;
    background-color: #EDEDED;
}

.body-box .box-item{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 25%;

}

.box-item h3{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primary-text-accent);
}

.box-item h4{
    margin: 0;
}

/* footer */

.main-body .main-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-footer p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}